p.table1 th, td {
    text-align:center;
}
p.table2 th, td {
    text-align:center;
}
p.table1 th, td {
    background-color:tomato !important;
}
p.table2 th, td {
    background-color:cadetblue !important;
}
p.table1 p.table2 table, th, tr, td{
    border:1px solid black;
}
