! important p.table1 table, th, td {
    border: 1px solid black;
    background-color: tomato;
    text-align: center;
}
p.table2 table, th, td {
    border: 1px solid black;
    background-color: tomato;
    text-align: center;
}
